.main__container {
  max-width: 1200px;
  margin: 0 auto;
}
.row .col {
  background-color: white;
}
.bg-body-secondary {
  background-color: white !important;
}
.highlight {
  color: red;
}
.main__container .p-4 {
  box-shadow: 0 4px 8px gainsboro;
}
