@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "global__header.css";
@import "index.css";
@import "pricing.css";
@import "posts.css";
@import "about.css";
@import "registration.css";
@import "success.css";
@import "login.css";
@import "profile.css";
@import "global__footer.css";

html {
  overflow-y: scroll;
}
body {
  background-color: blanchedalmond;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-Saira: "Saira", sans-serif;
}
