{%extends 'base.html' %} {% block title %} All posts {% endblock %} {% block
body %}
<div class="posts__container">
  <div class="container mt-5">
    <h1>All posts</h1>
    {% if articles|length > 0 %} {% for el in articles %}
    <div class="alert alert-info">
      <h2>{{el.title}}</h2>
      <p>{{el.intro}}</p>
      <p><b>Time: {{el.date.strftime('%Y-%m-%d')}}</b></p>
      <a href="/posts/{{ el.id }}" class="btn btn-warning">More details</a>
    </div>
    {% endfor%} {% else %}
    <p>There are no articles yet</p>
    {% endif %}
  </div>
</div>
{% endblock %}
